@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

th {
  font-weight: 500;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

input,
span {
  font-size: 14px !important;
}

tbody {
  border: 1px solid #ccc;
}
